@model FFMS.Application.User.Dto.ChangePasswordDto;
<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>ChangePassword</title>
</head>
<body>
    <div class="layui-fluid" style="text-align:center">

        <form name="UserCreateForm" class="layui-form layui-form-pane">
            <div class="layui-form-item">
                <div class="layui-inline">
                    <label class="layui-form-label layui-required">原始密码</label>
                    <div class="layui-input-block">
                        @Html.TextBoxFor(m => m.OldPassWord, new { @class = "layui-input", @type = "password",@placeholder = "请输入原始密码", @lay_verify = "OldPassWord|required", @autocomplete = "off", @maxlength = "128" })
                    </div>
                </div>
            </div>
            <div class="layui-form-item">
                <div class="layui-inline">
                    <label class="layui-form-label layui-required">新密码</label>
                    <div class="layui-input-block">
                        @Html.TextBoxFor(m => m.NewPassWord, new { @class = "layui-input", @type = "password", @placeholder = "请输入新密码", @maxlength = "128", @lay_verify = "NewPassWord|required", @autocomplete = "off" })
                    </div>
                </div>
            </div>
            <div class="layui-form-item layui-layout-admin">
                <div class="layui-input-block">
                    <div class="layui-footer" style="left: 0;">
                        <button class="layui-btn" lay-submit lay-filter="component-form-commit">立即提交</button>
                    </div>
                </div>
            </div>
        </form>

    </div>
    @section scripts{

        <script src="~/view-resources/Views/User/ChangePassword.js" asp-append-version="true"></script>
    }
</body>
</html>
